<% flash.each do |type, msg| %>
  <p style="color: green"><%= msg %></p>
<% end %>

<!-- <%= render 'form', book: @book, type: 'New book' %> -->

<div style="margin-top: 800px; margin-left: 420px">
  <%= link_to "Back to books", books_path %>
</div>
