.form-field input[type="radio"] {
  margin-right: 10px; /* Adjust the value as needed */
}

.form-label {
  font-weight: bold;
}

.form-field {
  margin-top: 40px;
}

.attachment__progress {
  display: none;
}
